#Profile_Picture {
    height: 350px;
    width: 280px;
    border-radius: 50%;
    transition: all;
    transition-duration: 0.2s;
    display: inline;
    border: 2px solid white;
}

#Profile_Picture:hover {
    height: 360px;
    width: 290px;
    border: 3px solid white;
}

body {
    background-color: #54DEFD;
    color: white;
    font-family: "Archivo Black", sans-serif;
    animation-name: backgroundColorChange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}


@keyframes backgroundColorChange {
   0% {
        background-color: #07393c;
    }

    50% {
        background-color: #2c666e;
    }

    100% {
        background-color: #90ddf0;
    }
}

section {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    line-height: 1.5;
}

#Interests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.box {
    height: 250px;
    width: 300px;
    display: inline;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.2s;
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.8);
    height: 270px;
    width: 320px;
    color: black;
}

.Sub-Headings {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 50px;
    transition: all;
    transition-duration: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sub-Headings:hover {
    background-color: rgba(255, 255, 255, 0.8);
    height: 60px;
    color: black;
}

#About-me {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: justify;
}

#Contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

a {
    color: Black;
    background-color: white;
    height: 30px;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    transition: all;
    transition-duration: 0.2s;
    font-size: 18px;
}

a:hover {
    background-color: black;
    color: white;
    height: 50px;
    width: 220px;
    font-size: 20px;
}

iframe {
    transition: all;
    transition-duration: 0.2s;
    height: 300px;
    width: 60%;
    transition-timing-function: ease-in-out;
    margin: 70px 0px 0px 0px;
}

iframe:hover {
    height: 320px;
    width: 62%;
}

footer {
    height: 50px;
    width: 100%;
    padding: 20px;
    background-color: rgb(32, 31, 31);
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; /* Ensures padding doesn't cause horizontal scrolling */
}

/* Also apply box-sizing to everything else for safety */
*, *::before, *::after {
    box-sizing: inherit;
}
